@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.ttf");
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.ttf");
}